<div>
    <h2>Choose website</h2>
    <p>query: </p>
    <input type="text" id="query">
    <p>Number product: </p>
    <input type="number" id="number">
    <p class="result"></p>
    <button type="button" id="tiki">Tiki</button>
    <button type="button" id="sendo">Sendo</button>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        $("#tiki").click(function(){
            let link = $('#query').val();
            let number = $('#number').val();
            $(".result").css("visibility", "visible");
            $(".result").text("Vui lòng chờ...");
            $.post('/tiki', {link: link, number: number} ,function (data) {
                $(".result").text(data);
            })
        });
        $("#sendo").click(function(){
            let link = $('#query').val();
            let number = $('#number').val();
            $(".result").css("visibility", "visible");
            $(".result").text("Vui lòng chờ...");
            $.post('/sendo', {link: link, number: number} ,function (data) {
                $(".result").text(data);
            })
        });
    });
</script>